
header{
    background-color: #007922;
    color: #ffffff;
    font-family: 'Inter', sans-serif;

    width: 100%;
    height: 3rem;

  
}

.pages{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    flex-direction: row;
    font-weight: lighter;

    text-decoration: none;
    
}

.nav li{
    margin-top: 1.2%;
  
}

