
@media (max-width: 1900px){
    header{
        background-color: #007922;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
    
        width: 100%;
        height: 3rem;
    
      
    }
    
    .pages{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        flex-direction: row;
        font-weight: lighter;
    
        text-decoration: none;
        
    }

    li{
        display: inline;
        flex-direction: row;
        justify-content: center;
    }

    li a {
        display: block;
    }
    
    .nav li{
        margin-top: 1.2%;
      
    }
}

@media (max-width: 769px){
    
    header{
        background-color: #007922;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
    
        width: 100%;
        height: 2.5rem;
    
      
    }
    
    .pages{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        flex-direction: row;
        font-weight: lighter;
    
        text-decoration: none;
        
    }

    li{
        display: inline;
        flex-direction: row;
        justify-content: center;
    }

    li a {
        display: block;
    }
    
    .nav li{
        margin-top: 1.2%;
      
    }
      
}

@media (max-width: 480px){
    
    header{
        background-color: #007922;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
    
        width: 100%;
        height:1.5rem;
    
      
    }
    
    .pages{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
        flex-direction: row;
        font-weight: lighter;
    
        text-decoration: none;
        
    }

    li{
        display: inline;
        flex-direction: row;
        justify-content: right;
        

        
    }

    li a {
        display: block;
        font-size: 70%;
    }
    
    .nav li{
        margin-top: 1.2%;
      
    }
      
    .logo{
        width: 10%;
        float: left;
        margin-left: 0.5rem;
        padding-top: 0.5rem;
    }
}


.pages:hover{
    transition: 0.5s;
    background-color: #00962a;
}

.btn-div:hover{
    transition: 0.5s;
    background-color: #00962a;
}