@import url(cabecalho.css);
@import url(rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* pagina ia*/

body{
    
        background-color: #C4F23F;
        width: 100%;
        margin: 0 auto

    
}

h2{
    font-family: 'Inter', sans-serif;
    color: #007922;
}

p{
   
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

.fundo{
    background-color: #FDFFB0;
    width: 100%;
    height: 30rem;

    margin-bottom: 0%;
    
}



.fundo p{
    width: 40%;
    text-align: center;
    justify-content: center;

    
}

.titulo2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #007922;
    margin-bottom: 0%;

    text-align: center;
   

}

.fundo img{
    width: 50%;
}

.container-texto{
    background-color: #FDFFB0 ;
    width: 80%;
    
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 10%;
    border-radius: 30px;

    
    justify-content: center;
    
}

.item{
    padding: 2% 5% 2% 5%;
   
}

.item-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ol{
    font-family:'Inter', sans-serif; ;
}

.container-texto img{
    width: 20%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}


.ia img{
    display: flex;
    width: 100%;
    height: 25rem;

    margin-bottom: 0%;

}

.ia-introducao{
    display: flex;
    background-color:  #FDFFB0;
    flex-direction: column;
    border-radius: 30px;
    width: 80%;

    align-items: center;
    justify-content: center;
    
    margin-left: 10%;
}

.ia-introducao p{
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin-bottom: 5%;
    align-items: center;

  
}