
@media (max-width: 1900px) {
    footer{
        background-color: #007922;
        width: 100%;
        height: 15rem;
        align-items: center;
    }
    
    footer p{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
    
        text-align: center;
        align-items: center;
    }
    
    .rodape{
        padding-top: 5%;
    }
    ul{
       list-style:none;
       display: flex;
       justify-content: center;
       flex-direction: row;
       flex-wrap: wrap;
    }
    
    nav{
        align-items: center;
        justify-content: center;
    }
    
    ul li{
        width: 10%;
        text-align: center;
    
    }
    
    .nome{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
        
        flex-direction: row;
    }
    
    .rm{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
       
        flex-direction: row;
    }
    
    
}

@media (max-width: 769px){
    footer{
        background-color: #007922;
        width: 100%;
        height: 15rem;
        align-items: center;
    }
    
    footer p{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
    
        text-align: center;
        align-items: center;
    }
    
    .rodape{
        padding-top: 5%;
    }
    ul{
       list-style:none;
       display: flex;
       justify-content: center;
       flex-direction: row;
       flex-wrap: wrap;
    }
    
    nav{
        align-items: center;
        justify-content: center;

    }
    
    ul li{
        width: 10%;
        text-align: center;
    
    }

    li{
        margin-left: 3%;
        margin-right: 5%;
        
    }
    
    .nome{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
        
        flex-direction: row;
    }
    
    .rm{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
       
        flex-direction: row;
    }
    
}

@media (max-width: 480px){
    footer{
        background-color: #007922;
        width: 100%;
        height: 15rem;
        align-items: center;
    }
    
    footer p{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
    
        text-align: center;
        align-items: center;
    }
    
    .rodape{
        padding-top: 5%;
    }
    /*ul{
       list-style:none;
       display: flex;
       justify-content: center;
       flex-direction: column;
       flex-wrap: wrap;

       margin-right: 10%;
    }*/
    .lado1{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        
 
    }

    .lado2{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        
 
      
    }
    nav{
        align-items: center;
        justify-content: center;
       
    }
    
    
    
    .nome{
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        color: #ffffff;
        
        flex-direction: row;
    }
    
    .rm{
        font-family: 'Inter', sans-serif;
        color: #ffffff;
       
        flex-direction: row;
    }
    
}